.main-content {
  margin-left: -10px;
  margin-top: -10px;
}
.header {
  background-color: #fff;
  padding: 10px;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.job-posting {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.job-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.job-controls input {
  flex: 1;
  margin-right: 500px;
  padding: 5px;
  border-radius: 5px;
}

.jobs-posted {
  margin-bottom: 10px;
  margin-right: 1px;
}

.job-card {
  background-color: #f2f8fa;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 150px;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

.job-status.active {
  color: green;
}

.job-status.disabled {
  color: red;
}

.job-footer {
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  margin: 5px;
  width: Hug (30px) px;
  height: Hug (29px) px;
  top: 451px;
  left: 865px;
  padding: 7px 4px 7px 4px;
  gap: 10px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.create-job-post {
  background-color: #000;
  color: #fff;
  padding: 10px;
  justify-content: right;
  cursor: pointer;
  margin-left: 1000px;
  margin-bottom: 20px;
}

.recent-jobs {
  background-color: #f2f8fa;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  margin-top: -460px;
  margin-left: 400px;
  height: 400px;
  border-radius: 10px;
  border: 50px;
  flex: 1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.jadd {
  display: flex;
}
