/* src/components/Sidebar.css */
.sidebar {
  width: 250px;
  background-color:white;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  padding: 10px;
  font-size: 16px;
  color: #02111f;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background: #e6e6f5;
  color: slateblue;
  text-decoration: none;
  list-style: none;
}

.sidebar ul li svg {
  margin-right: 20px;
  align-items: center;
  padding: 10px;
}
.sidebar img {
  margin-left: -5px;
  margin-right: 5px;
}
.sidebar a {
  text-decoration: none;
  color: inherit; /* Keep the text color inherited from the parent */
}

